@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
html {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  gap: 17px;
  background-color: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.reservation {
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 42px;
  text-align: center;
}
.reservation h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 39px;
}
.reservation p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: unset;
  position: relative;
  gap: 25px;
  padding-bottom: 68px;
}
.fonctionnement h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 48px 0 0 20px;
}
.fonctionnement .flexy-int {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
.fonctionnement .flexy-int .elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 322px;
  max-width: 80%;
  height: 73px;
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-right: 15px;
}
.fonctionnement .flexy-int .elements:hover {
  background-color: rgb(245, 237, 255);
}
.fonctionnement .flexy-int .elements:hover span {
  color: #9356dc;
}
.fonctionnement .flexy-int .elements .step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  padding-right: 0;
}
.fonctionnement .flexy-int .elements span {
  color: rgb(126, 126, 126);
  font-size: 22px;
}

.restaurants {
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: unset;
  gap: 25px;
  padding-bottom: 64px;
}
.restaurants h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 48px 0 0 20px;
}
.restaurants .flexy-int {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: unset;
  padding: 22px 0 33px 25px;
  gap: 16px;
}
footer h3 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
}
footer .flexy-int {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  align-items: unset;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
footer .flexy-int span {
  margin-right: 11px;
}

.plats {
  position: relative;
  top: -32px;
  margin-bottom: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  background-color: rgb(246, 246, 246);
  width: 100%;
  border-radius: 40px 40px 0 0;
}
.plats .flexy-int {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding-top: 32px;
  position: relative;
  max-width: 97%;
}
.plats .flexy-int h1 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}
.plats .typePlat {
  position: relative;
  height: 27px;
  width: 340px;
  max-width: 100%;
  margin-top: 40px;
  animation: appear 1s ease-out both;
}
.plats .typePlat--1 {
  animation-delay: 0s;
}
.plats .typePlat--2 {
  animation-delay: 1.5s;
}
.plats .typePlat--3 {
  animation-delay: 3s;
}
.plats h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  margin: 0;
}
.plats .trait {
  width: 40px;
  height: 5px;
  border-bottom: solid 3px rgb(153, 226, 208);
  text-align: left;
}
.plats .buton {
  width: 186px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  animation: appear 1s ease-out both;
}
.presentation--1 {
  animation-delay: 500ms;
}
.presentation--2 {
  animation-delay: 1000ms;
}
.presentation--3 {
  animation-delay: 1500ms;
}
.presentation--4 {
  animation-delay: 2000ms;
}
.presentation--5 {
  animation-delay: 2500ms;
}
.presentation--6 {
  animation-delay: 3000ms;
}
.presentation--7 {
  animation-delay: 3500ms;
}
.presentation--8 {
  animation-delay: 4000ms;
}
.presentation--9 {
  animation-delay: 4500ms;
}
.presentation--10 {
  animation-delay: 5000ms;
}

header a {
  position: absolute;
  top: 24px;
  left: 23px;
}
header span {
  font-size: 18px;
}
header img {
  width: 162px;
}

a {
  text-decoration: none;
  color: black;
}

.buton {
  padding: 13px 16px 13px 16px;
  border-radius: 25px;
  height: 24px;
  text-align: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
}
.buton.buton1 {
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#ff79da, #9356dc);
}
.buton.buton1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.15);
  opacity: 0;
}
.buton.buton1:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.buton.buton1:hover::after {
  opacity: 1;
}
.buton.buton2 {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #9356dc;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 14px;
  background: rgb(153, 226, 208);
  width: 80px;
  height: 29px;
  border-radius: 2px;
  color: rgb(0, 135, 102);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.goBack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  color: #9356dc;
}
.goBackRound {
  width: 50px;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.secret {
  position: absolute;
  visibility: hidden;
}

.heart {
  position: relative;
  display: flex;
  margin: auto;
  height: 22px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
}
.heart label {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.heart label span {
  position: absolute;
}
.heart label .full {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 2s;
}
.heart input:checked + label .full {
  opacity: 1;
}

.plate {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 340px;
  max-width: 100%;
  gap: 10px;
  cursor: pointer;
}
.plate .plate-firstChild {
  width: 80%;
  white-space: nowrap;
  margin: 12px 0 12px 10px;
  transition: width 400ms;
}
.plate .plate-firstChild span.h3 {
  display: block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plate .plate-firstChild span.p {
  margin: 0;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plate .price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  margin: 12px 8px 12px 0;
}
.plate .plate-lastChild {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  transition: width 400ms, position 200ms;
}
.plate .plate-lastChild span {
  color: white;
  visibility: hidden;
  transition: 200ms;
}

.presentation input:checked + label .plate-lastChild {
  width: 22%;
}
.presentation input:checked + label .plate-lastChild span {
  visibility: visible;
}

.presentation input:checked + label .plate-firstChild {
  width: 50%;
}
@media screen and (min-width: 350px) {
  .presentation input:checked + label .plate-firstChild {
    width: 60%;
  }
}

.restau {
  display: flex;
  flex-direction: column;
  width: 335px;
  max-width: 95%;
  height: 251px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restau img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restau-infos {
  display: flex;
  flex-direction: row;
}
.restau-name {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin: 16px 0 0 13px;
  gap: 5px;
}
.restau-name h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.restau-name p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}
.restau .heart1 {
  position: relative;
  display: flex;
  margin: auto;
  height: 22px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
}
.restau .heart1 label {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.restau .heart1 label span {
  position: absolute;
}
.restau .heart1 label .full {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 2s;
}
.restau .heart1 input:checked + label .full {
  opacity: 1;
}

.nouveau {
  position: relative;
}

.img {
  height: 275px;
  position: relative;
  z-index: -1;
}
.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
