@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes textBump {
  0% {
    transform: skew(0, 0) translateY(0);
  }
  17% {
    transform: skew(0, -30deg) translateY(-10px);
  }
  33%, 100% {
    transform: skew(0, 0) translateY(0);
  }
}
@keyframes eggload {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25%, 100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    width: 100%;
    height: 100vh;
  }
  50% {
    opacity: 0;
    width: 100%;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
html {
  box-sizing: border-box;
  margin: 0;
  max-width: 1500px;
}
@media screen and (min-width: 1500px) {
  html {
    margin: auto;
  }
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  gap: 17px;
  background-color: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.reservation {
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 42px;
  text-align: center;
}
.reservation h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 39px;
}
.reservation p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: unset;
  position: relative;
  gap: 25px;
  padding-bottom: 68px;
}
.fonctionnement h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 48px 0 0 20px;
}
@media screen and (min-width: 950px) {
  .fonctionnement h1 {
    margin: 50px 0 0 20px;
  }
}
@media screen and (min-width: 1100px) {
  .fonctionnement h1 {
    margin: 50px 0 0 193px;
  }
}
.fonctionnement .flexy-int {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
@media screen and (min-width: 950px) {
  .fonctionnement .flexy-int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.fonctionnement .flexy-int .elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 322px;
  max-width: 80%;
  height: 73px;
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-right: 15px;
}
@media screen and (min-width: 950px) {
  .fonctionnement .flexy-int .elements {
    max-width: 29%;
  }
}
.fonctionnement .flexy-int .elements:hover {
  background-color: rgb(245, 237, 255);
}
.fonctionnement .flexy-int .elements:hover span {
  color: #9356dc;
}
.fonctionnement .flexy-int .elements .step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  padding-right: 0;
}
.fonctionnement .flexy-int .elements span {
  color: rgb(126, 126, 126);
  font-size: 22px;
}

.restaurants {
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: unset;
  gap: 25px;
  padding-bottom: 64px;
}
@media screen and (min-width: 1100px) {
  .restaurants {
    overflow: hidden;
  }
  @-moz-document url-prefix() {
    .restaurants {
      overflow: visible;
    }
  }
}
.restaurants h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 48px 0 0 20px;
}
@media screen and (min-width: 950px) {
  .restaurants h1 {
    margin: 50px 0 0 193px;
  }
}
.restaurants .flexy-int {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@-moz-document url-prefix() {
  .restaurants .flexy-int {
    overflow: scroll;
  }
}
@media screen and (min-width: 1100px) {
  .restaurants .flexy-int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 26px;
    margin: 0 0 0 193px;
    justify-content: flex-start;
    transition: all 2s ease-in-out;
  }
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: unset;
  padding: 22px 0 33px 25px;
  gap: 16px;
}
@media screen and (min-width: 950px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 71px;
    padding: 49px 90px 38px 0;
  }
}
footer h3 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
}
footer .flexy-int {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  align-items: unset;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 950px) {
  footer .flexy-int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
}
footer .flexy-int span {
  margin-right: 11px;
}
footer a {
  color: white;
}

.plats {
  position: relative;
  top: -32px;
  margin-bottom: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  background-color: rgb(246, 246, 246);
  width: 100%;
  border-radius: 40px 40px 0 0;
}
@media screen and (min-width: 1100px) {
  .plats {
    width: 1055px;
    margin: auto;
    margin-bottom: -32px;
  }
}
.plats .flexy-int {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding-top: 32px;
  position: relative;
  max-width: 97%;
}
.plats .flexy-int h1 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}
.plats .typePlat {
  position: relative;
  height: 27px;
  width: 340px;
  max-width: 100%;
  margin-top: 40px;
  animation: appear 1s ease-out both;
}
@media screen and (min-width: 950px) {
  .plats .typePlat {
    width: 634px;
  }
}
.plats .typePlat--1 {
  animation-delay: 0s;
}
.plats .typePlat--2 {
  animation-delay: 1.5s;
}
.plats .typePlat--3 {
  animation-delay: 3s;
}
.plats h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  margin: 0;
}
.plats .trait {
  width: 40px;
  height: 5px;
  border-bottom: solid 3px rgb(153, 226, 208);
  text-align: left;
}
.plats .buton {
  width: 186px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  animation: appear 1s ease-out both;
}
.presentation--1 {
  animation-delay: 500ms;
}
.presentation--2 {
  animation-delay: 1000ms;
}
.presentation--3 {
  animation-delay: 1500ms;
}
.presentation--4 {
  animation-delay: 2000ms;
}
.presentation--5 {
  animation-delay: 2500ms;
}
.presentation--6 {
  animation-delay: 3000ms;
}
.presentation--7 {
  animation-delay: 3500ms;
}
.presentation--8 {
  animation-delay: 4000ms;
}
.presentation--9 {
  animation-delay: 4500ms;
}
.presentation--10 {
  animation-delay: 5000ms;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ff79da, #9356dc);
  position: fixed;
  top: 0;
  left: 0;
  animation: disappear 2s ease-in 3s forwards;
}

.scrolling {
  display: none;
}
@media screen and (min-width: 1100px) {
  .scrolling {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 15px;
    order: 3;
  }
  @-moz-document url-prefix() {
    .scrolling {
      display: none;
    }
  }
  .scrolling label {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 100%;
  }
  .scrolling label:has(.radio:checked) {
    background: linear-gradient(#ff79da, #9356dc);
  }
  .scrolling .radio {
    position: relative;
    z-index: -1;
    width: 19px;
    height: 19px;
  }
  .scrolling:has(.radio--1:checked) + .flexy-int {
    transform: translateX(0);
  }
  .scrolling:has(.radio--2:checked) + .flexy-int {
    transform: translateX(-360px);
  }
  .scrolling:has(.radio--3:checked) + .flexy-int {
    transform: translateX(-720px);
  }
  .scrolling:has(.radio--4:checked) + .flexy-int {
    transform: translateX(-1080px);
  }
}

header a {
  position: absolute;
  top: 24px;
  left: 23px;
}
header span {
  font-size: 18px;
}
header img {
  width: 162px;
}

.anim-text {
  color: white;
  display: inline-block;
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  font-size: 48px;
  transform-origin: bottom left;
  animation: textBump 1200ms infinite both;
}
.anim-text--1 {
  animation-delay: 0ms;
}
.anim-text--2 {
  animation-delay: 400ms;
}
.anim-text--3 {
  animation-delay: 800ms;
}

.contain-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 200px;
  height: 100px;
}
.contain-bar .egg-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin-right: -5px;
  z-index: 1;
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 100%;
  background-color: white;
  animation: eggload 600ms infinite both alternate;
}
.contain-bar .egg-1--1 {
  animation-delay: 0ms;
}
.contain-bar .egg-1--2 {
  animation-delay: 200ms;
}
.contain-bar .egg-1--3 {
  animation-delay: 400ms;
}
.contain-bar .egg-1 .egg-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: linear-gradient(171deg, rgb(253, 184, 42) 0%, rgb(250, 159, 27) 80%, rgb(244, 122, 8) 100%);
}
.contain-bar .egg-1 .egg-2 .egg-3 {
  position: absolute;
  z-index: 3;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: solid 3px transparent;
  border-top-color: white;
  transform: rotate(-45deg);
}

a {
  text-decoration: none;
  color: black;
}

.buton {
  padding: 13px 16px 13px 16px;
  border-radius: 25px;
  height: 24px;
  text-align: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
}
.buton.buton1 {
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#ff79da, #9356dc);
}
.buton.buton1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.15);
  opacity: 0;
}
.buton.buton1:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.buton.buton1:hover::after {
  opacity: 1;
}
.buton.buton2 {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #9356dc;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 14px;
  background: rgb(153, 226, 208);
  width: 80px;
  height: 29px;
  border-radius: 2px;
  color: rgb(0, 135, 102);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.goBack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  color: #9356dc;
}
.goBackRound {
  width: 50px;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.secret {
  position: absolute;
  visibility: hidden;
}

.heart {
  position: relative;
  display: flex;
  margin: auto;
  height: 22px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
}
.heart label {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.heart label span {
  position: absolute;
}
.heart label .full {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 2s;
}
.heart input:checked + label .full {
  opacity: 1;
}

.plate {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 340px;
  max-width: 100%;
  gap: 10px;
  cursor: pointer;
}
@media screen and (min-width: 950px) {
  .plate {
    width: 634px;
  }
}
.plate .plate-firstChild {
  width: 80%;
  white-space: nowrap;
  margin: 12px 0 12px 10px;
  transition: width 400ms;
}
.plate .plate-firstChild span.h3 {
  display: block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plate .plate-firstChild span.p {
  margin: 0;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plate .price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  margin: 12px 8px 12px 0;
}
.plate .plate-lastChild {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  transition: 400ms;
}
.plate .plate-lastChild span {
  position: relative;
  transform: translateX(-100%);
  z-index: -5;
  color: white;
  visibility: hidden;
  transition: 400ms;
}

.presentation input:checked + label .plate-lastChild {
  width: 22%;
}
.presentation input:checked + label .plate-lastChild span {
  z-index: 5;
  visibility: visible;
  transform: translateX(0);
}

.presentation input:checked + label .plate-firstChild {
  width: 50%;
}
@media screen and (min-width: 350px) {
  .presentation input:checked + label .plate-firstChild {
    width: 60%;
  }
}

.restau {
  display: flex;
  flex-direction: column;
  width: 335px;
  max-width: 95%;
  height: 251px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@media screen and (min-width: 1100px) {
  .restau {
    max-width: unset;
    min-width: 335px;
  }
}
.restau img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restau-infos {
  display: flex;
  flex-direction: row;
}
.restau-name {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin: 16px 0 0 13px;
  gap: 5px;
}
.restau-name h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.restau-name p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}
.restau .heart1 {
  position: relative;
  display: flex;
  margin: auto;
  height: 22px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
}
.restau .heart1 label {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.restau .heart1 label span {
  position: absolute;
}
.restau .heart1 label .full {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 2s;
}
.restau .heart1 input:checked + label .full {
  opacity: 1;
}

.nouveau {
  position: relative;
}

.img {
  height: 275px;
  position: relative;
  z-index: -1;
}
.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
