header {
  & a {
    position: absolute;
    top: 24px;
    left: 23px;
  }
  & span {
    font-size: 18px;
  }
  & img {
    width: 162px;
  }
}

// Loader

.anim-text {
  color: white;
  display: inline-block;
  font-family: $Hfont;
  font-weight: 700;
  font-size: 48px;
  transform-origin: bottom left;
  animation: textBump 1200ms infinite both;

  @for $i from 1 through 3 {
    &--#{$i} {
      animation-delay: (($i * 400ms)-400ms);
    }
  }
}

.contain-bar {
  @include flex-row;
  position: relative;
  width: 200px;
  height: 100px;

  & .egg-1 {
    @include flex-row;
    position: relative;
    margin-right: -5px;
    z-index: 1;
    width: 50px;
    height: 50px;
    opacity: 0;
    border-radius: 100%;
    background-color: white;
    animation: eggload 600ms infinite both alternate;

    @for $i from 1 through 3 {
      &--#{$i} {
        animation-delay: (($i * 200ms)-200ms);
      }
    }

    & .egg-2 {
      @include flex-row;
      position: absolute;
      z-index: 2;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background: linear-gradient(
        171deg,
        rgba(253, 184, 42, 1) 0%,
        rgba(250, 159, 27, 1) 80%,
        rgba(244, 122, 8, 1) 100%
      );

      & .egg-3 {
        position: absolute;
        z-index: 3;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        border: solid 3px transparent;
        border-top-color: white;
        transform: rotate(-45deg);
      }
    }
  }
}
// Boutons du site

a {
  text-decoration: none;
  color: black;
}

.buton {
  padding: 13px 16px 13px 16px;
  border-radius: 25px;
  height: 24px;
  text-align: center;
  margin: auto;
  font-family: $font;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  position: relative;

  &.buton1 {
    color: white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(#ff79da, #9356dc);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.15);
      opacity: 0;
    }

    &:hover {
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

      &::after {
        opacity: 1;
      }
    }
  }

  &.buton2 {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: $primaire;
  }
}

.badge {
  @include flex;
  position: absolute;
  top: 13px;
  right: 14px;
  background: rgba(153, 226, 208, 1);
  width: 80px;
  height: 29px;
  border-radius: 2px;
  color: rgba(0, 135, 102, 1);
  font-family: $font;
  font-weight: 500;
}

.goBack {
  @include flex;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  color: $primaire;

  &Round {
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
}

.secret {
  position: absolute;
  visibility: hidden;
}

// Coeur avec toggle

.heart {
  @include heart();
}

// toggle de la sélection des plats

.plate {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px
    rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 340px;
  max-width: 100%;
  gap: 10px;
  cursor: pointer;
  @media screen and (min-width: $breakOne) {
    width: 634px;
  }

  & .plate-firstChild {
    width: 80%;
    white-space: nowrap;
    margin: 12px 0 12px 10px;
    transition: width 400ms;

    & span.h3 {
      display: block;
      margin: 0;
      font-family: $font;
      font-weight: 500;
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & span.p {
      margin: 0;
      display: block;
      font-family: $font;
      font-weight: 300;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & .price {
    font-family: $font;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
    margin: 12px 8px 12px 0;
  }

  & .plate-lastChild {
    @include flex;

    width: 0;
    border-radius: 0 15px 15px 0;
    background-color: #99e2d0;
    transition: 400ms;

    & span {
      position: relative;
      transform: translateX(-100%);
      z-index: -5;
      color: white;
      visibility: hidden;
      transition: 400ms;
    }
  }
}

.presentation input:checked + label .plate-lastChild {
  width: 22%;

  & span {
    z-index: 5;
    visibility: visible;
    transform: translateX(0);
  }
}

.presentation input:checked + label .plate-firstChild {
  width: 50%;

  @media screen and (min-width: 350px) {
    width: 60%;
  }
}

// Cartes restaurants

.restau {
  display: flex;
  flex-direction: column;
  width: 335px;
  max-width: 95%;
  height: 251px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  @media screen and (min-width: $breakTwo) {
    max-width: unset;
    min-width: 335px;
  }

  & img {
    height: 174px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  &-infos {
    display: flex;
    flex-direction: row;
  }

  &-name {
    display: flex;
    flex-direction: column;
    width: 78%;
    margin: 16px 0 0 13px;
    gap: 5px;

    & h3 {
      font-family: $font;
      font-weight: 700;
      font-size: 18px;
      margin: 0;
    }
    & p {
      font-family: $font;
      font-weight: 300;
      font-size: 17px;
      margin: 0;
    }
  }

  & .heart1 {
    @include heart();
  }
}

.nouveau {
  position: relative;
}

// pages de restautans

.img {
  height: 275px;
  position: relative;
  z-index: -1;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
