header {
  & a {
    position: absolute;
    top: 24px;
    left: 23px;
  }
  & span {
    font-size: 18px;
  }
  & img {
    width: 162px;
  }
}

// Boutons du site

a {
  text-decoration: none;
  color: black;
}

.buton {
  padding: 13px 16px 13px 16px;
  border-radius: 25px;
  height: 24px;
  text-align: center;
  margin: auto;
  font-family: $font;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  position: relative;

  &.buton1 {
    color: white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(#ff79da, #9356dc);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.15);
      opacity: 0;
    }

    &:hover {
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

      &::after {
        opacity: 1;
      }
    }
  }

  &.buton2 {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: $primaire;
  }
}

.badge {
  @include flex;
  position: absolute;
  top: 13px;
  right: 14px;
  background: rgba(153, 226, 208, 1);
  width: 80px;
  height: 29px;
  border-radius: 2px;
  color: rgba(0, 135, 102, 1);
  font-family: $font;
  font-weight: 500;
}

.goBack {
  @include flex;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  color: $primaire;

  &Round {
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
}

.secret {
  position: absolute;
  visibility: hidden;
}

// Coeur avec toggle

.heart {
  @include heart();
}

// toggle de la sélection des plats

.plate {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px
    rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 340px;
  gap: 10px;
  cursor: pointer;

  & .plate-firstChild {
    width: 80%;
    white-space: nowrap;
    margin: 12px 0 12px 10px;
    transition: width 400ms;

    & h3 {
      margin: 0;
      font-family: $font;
      font-weight: 500;
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & p {
      margin: 0;
      font-family: $font;
      font-weight: 300;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & .price {
    font-family: $font;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
    margin: 12px 8px 12px 0;
  }

  & .plate-lastChild {
    @include flex;
    width: 0;
    border-radius: 0 15px 15px 0;
    background-color: #99e2d0;
    transition: width 400ms, position 200ms;

    & span {
      color: white;
      visibility: hidden;
      transition: 200ms;
    }
  }
}

.presentation input:checked + label .plate-lastChild {
  width: 22%;

  & span {
    visibility: visible;
  }
}

.presentation input:checked + label .plate-firstChild {
  width: 60%;
}

// Cartes restaurants

.restau {
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 251px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  & img {
    height: 174px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  &-infos {
    display: flex;
    flex-direction: row;
  }

  &-name {
    display: flex;
    flex-direction: column;
    width: 78%;
    margin: 16px 0 0 13px;
    gap: 5px;

    & h3 {
      font-family: $font;
      font-weight: 700;
      font-size: 18px;
      margin: 0;
    }
    & p {
      font-family: $font;
      font-weight: 300;
      font-size: 17px;
      margin: 0;
    }
  }

  & .heart1 {
    @include heart();
  }
}

.nouveau {
  position: relative;
}

// pages de restautans

.img {
  height: 275px;
  position: relative;
  z-index: -1;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
