header {
  & span {
    position: absolute;
    top: 24px;
    left: 23px;
    font-size: 18px;
    visibility: hidden;
  }
  & img {
    width: 162px;
  }
}

// Boutons du site

.buton {
  padding: 13px 16px 13px 16px;
  border-radius: 25px;
  width: 154px;
  height: 24px;
  text-align: center;
  margin: auto;
  font-family: $font;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  position: relative;

  &.buton1 {
    color: white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(#ff79da, #9356dc);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.15);
      opacity: 0;
    }

    &:hover {
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

      &::after {
        opacity: 1;
      }
    }
  }

  &.buton2 {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: $primaire;
  }
}

.badge {
  background: rgba(153, 226, 208, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  margin: auto;
  margin-top: 20px;
  border-radius: 2px;
  color: rgba(0, 135, 102, 1);
  font-family: $font;
  font-weight: 500;
}

.goBack {
  display: flex;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: $primaire;

  &Round {
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
}

.heart {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 20px;
  height: 22px;
  font-size: 22px;
  justify-content: center;
  align-items: center;

  & .full {
    visibility: hidden;
  }

  & img {
    position: absolute;
    width: 22px;
    height: 21px;
  }

  &:active .empty {
    visibility: hidden;
  }

  &:active .full {
    visibility: visible;
  }
}
